{# advertisers.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}Advertisers{% endblock %}

{% block main %}

<div class="current-link">
    <div class="current-link-container">
            <div class="container">
                <div class="col-sm-12">
                    <h1>Advertisers</h1>
                </div>
            </div>
    </div>
</div>

<div class="foradvertisers">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text">
                    <h2>For Advertisers</h2>
                    <h1>Reach Your<br>Targets with Us</h1>
                    <p>Being a SSP solution for advertisers and publishers from across the world, the Dynovid uses the most sophistaticated algorhythms to help you attract audiences.</p>
                    <p>Ei sed idque summo graecis, clita praesent mediocrem mel eu. Volutpat salutandi vel in, eu nec dico temporibus. Vidisse consectetuer eum ne, meliore sententiae et pro.</p>
                    <div class="button">
                        <a href="#" class="">Join Us</a>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-height photo"></div>
            </div>
        </div>
    </div>
</div>

<div class="keyfeatures">
    <div class="container">
        <div class="row">
            <a href="/" class="col-xs-12 col-sm-6 col-md-3" style='background-image: url({{ imgPath }}/key-feature-1.svg)'>
                <h3>Audience Targeting</h3>
                <p>Our company provide such kind of targeting:
                    GEO, Channel, Contextual, 
                    Behavioral</p>
            </a>
            <a href="/" class="col-xs-12 col-sm-6 col-md-3" style='background-image: url({{ imgPath }}/key-feature-2.svg)'>
                <h3>Performance Advertising</h3>
                <p>With our inbuilt flexibility for customization 
                    advertisers can track engagement, purchases 
                    and other valuable metrics.</p>
            </a>
            <a href="/" class="col-xs-12 col-sm-6 col-md-3" style='background-image: url({{ imgPath }}/key-feature-3.svg)'>
                <h3>Price Optimization</h3>
                <p>Our managers’ main duty is to provide 
                    you with needed amount of traffic 
                    at reasonable price.</p>
            </a>
            <a href="/" class="col-xs-12 col-sm-6 col-md-3" style='background-image: url({{ imgPath }}/key-feature-4.svg)'>
                <h3>Targeting</h3>
                <p>Our company provide such kind of targeting:
                    GEO, Channel, Contextual, 
                    Behavioral</p>
            </a>
        </div>
    </div>
</div>

<div class="future">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6 col-sm-height photo"></div>
                <div class="text">
                    <h2>Advertise with us!</h2>
                    <h1>We Make Future <br> on Advertising</h1>
                    <p>Being a SSP solution for advertisers and publishers from across the world, 
                        the Dynovid uses the most sophistaticated algorhythms to help
                        you attract audiences.</p>
                    <div class="button">
                        <a href="#" class="">Start Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}
